#system_integral .xyh_crossBar{ height: 40px;width: 100%;background-color: #fafafa; line-height: 40px;position: relative;}
#system_integral .xyh_crossBar div{ width: 5px; height: 30px; background-color: #dfdfdf; display: inline-block; position: absolute;top: 5px;left: 5px;}
#system_integral .xyh_crossBar span{font-size: 14px;margin-left: 20px;}
#system_integral .xyh_preprnd_append{padding-top: 15px; padding-bottom: 10px;}
#system_integral .el-input { margin-right: 20px; margin-bottom: 20px;}
#system_integral .el-input-number { margin-right: 20px; margin-bottom: 20px;}
#system_integral .xyh_button { margin-top: 20px;}

#system_integral .xyh_input_text input[type=text]{ padding-left: 70px;}
#system_integral form{ display: inline;margin-right: 10px;}
#system_integral button{ margin-top: -3px;}

#system_list .title_form{padding-right: 10px;}
#system_list .input_time{padding-right: 10px;}

#system_add .xyh_name{ display: inline-block;width: 400px;margin-right: 20px;}
// #system_add .age{position: relative}
#system_add .age_{margin-left: 100px; margin-top: -15px;}
